@{
    Layout = null;
}

<div ng-controller="todoListsController">
    <div class="col_3">
        <h5>Todo lists</h5>
        <div ng-repeat="todoList in todoLists">
            <a ng-click="toggleTodoList(todoList.id)">{{todoList.name}}</a>
        </div>
        <div>
            <h6>Add new list</h6>
            <input type="text" placeholder="Create a new list" ng-model="newListName" ng-keypress="executeCreateTodoListKeyPress($event)" /> <button class="small" ng-click="executeCreateTodoList()"><i class=" icon-plus-sign"></i></button>
        </div>
    </div>
    <div class="col_9">
        <div class="col_12">
            <button class="small" ng-click="executeCreateTodoItem()"><i class="icon-plus-sign"></i></button> <input type="text" ng-model="newItemName" placeholder="Add a todo item" style="width: calc(100% - 40px);" />
        </div>
        {{selectedTodoList.description}}
    </div>
</div>