@{
    Layout = null;
}

<div ng-controller="todoListsController">
    <div class="col_3 todoBox">
        <h5 class="todoBoxSection"><i class="icon-bookmark-empty"></i> My to do lists</h5>
        <div class="todoItem" ng-click="executeToggleFavouriteItemsList()" ng-class="{'selectedItem' : isFavouriteListVisible}">
            <a><i class="icon-heart"></i> Favourite items</a>
        </div>
        <div ng-repeat="todoList in todoLists">
            <div class="todoItem" ng-class="{'selectedItem' : todoList.id == selectedTodoList.id}" ng-click="toggleTodoList(todoList.id)">
                <a><i class="icon-reorder"></i> {{todoList.name}}</a>
            </div>
        </div>
        <div class="todoBoxSection">
            <h6><i class="icon-plus"></i> Add new list</h6>
            <input type="text" placeholder="Create a new list" ng-model="newListName" ng-keypress="executeCreateTodoListKeyPress($event)" /> <button class="small" ng-click="executeCreateTodoList()"><i class=" icon-plus-sign"></i></button>
        </div>
    </div>
    <div ng-class="{'col_6' : isItemDetailsPaneEnabled , 'col_9' : !isItemDetailsPaneEnabled}">
        <div class="col_12" ng-show="!isFavouriteListVisible">
            <input type="text" ng-model="newItemName" ng-keypress="executeCreateTodoItem($event)" placeholder="Add a todo item" class="col_12" />
        </div>
        <div class="col_12">
            <div ng-repeat="item in todoItems" class="todoListItem">
                <input type="checkbox" ng-model="item.isFinished" ng-change="updateTodoItem(item)" /> <a ng-click="executeToggleItemDetails(item.id)">{{item.name}}</a>
            </div>
        </div>
    </div>
    <div class="col_3 todoBox todoBoxSection" ng-show="isItemDetailsPaneEnabled">
        <p class="right"><button class="small" ng-click="executeHideItemDetails()"><i class=" icon-remove-sign"></i> Close</button></p>
        <p>
            <a ng-click="executeToggleItemComplete()"><i ng-class="{'icon-check-empty' : !selectedTodoItem.isFinished, 'icon-check' : selectedTodoItem.isFinished}"></i> Incomplete<br /></a>
            <a ng-click="executeToggleItemFavourite()"><i ng-class="{'icon-heart-empty' : !selectedTodoitem.isFavourite, 'icon-heart' : selectedTodoItem.isFavourite}"></i> Add to favourites</a>
        </p>
        <p>
            <input type="text" class="col_12" placeholder="Item title" ng-model="selectedTodoItem.name" ng-keypress="executeItemEdit()" />
        </p>
        <input type="text" id="datepicker_todoItem" class="col_12" placeholder="Finish date" ng-model="selectedTodoItem.dateFinish" ng-keypress="executeItemEdit()" />
        <p>
            <textarea class="col_12" placeholder="Details" ng-model="selectedTodoItem.details" ng-keypress="executeItemEdit()"></textarea>
        </p>
        <p>
            <button class="red small" ng-click="executeDeleteItem(selectedTodoItem.id)"><i class="icon-remove"></i> Delete this item</button>
        </p>
        <p ng-show="isUpdatingTodoItem" class="center">
            <img src="~/Images/preloader_item_pane.gif" alt="Updating" />
            <br />
            <em>Updating...</em>
        </p>
    </div>
</div>

 <script type="text/javascript" src="~/js/helpers/itemDatePickerHelper.js"></script>