/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@font-face {
    font-family: Hyped;
    src: url('../Fonts/hyped.otf');
}

@font-face {
    font-family: LeagueGothic;
    src: url('../Fonts/LeagueGothic-Regular.otf');
}

@font-face {
    font-family: Lovelo;
    src: url('../Fonts/lovelo.otf');
}

@font-face {
    font-family: Yanone;
    src: url('../Fonts/yanone.otf');
}

@font-face {
    font-family: Bevan;
    src: url('../Fonts/Bevan.ttf');
}

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: Yanone, Tahoma, arial, verdana, sans-serif;
font-weight:normal;
}

/*.grid h1,h2,h3,h4,h5,h6{
    color: #000!important;
}*/

thead th,
tbody th{
font-family: Tahoma, arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: Tahoma, arial, verdana, sans-serif;
}

.menu{
font-family: Tahoma, arial, verdana, sans-serif;
}

blockquote{
font-family: Tahoma, arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#efefef url(css/img/gray_jean.png);
font:normal 0.9em/150% Tahoma, arial, verdana, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#lay_top {
    
}

.listBackground {
    background-image: url('../Images/list_background.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-header {
    background-image: url('../Images/background_main.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
}

.standard-header {
    height: 100px;
    background-color: #000;
}

#lay_top_container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#lay_top_menu {
    position: absolute;
    z-index: 999;
    height: 100px;
    line-height: 100px;
    width: 100%;
    opacity: 0.9;
    background-color: #0c0c0c;
}

#lay_top_menu h2 {
    font-family: Yanone;
    color: #fff;
}

#lay_top_menu a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    margin-left: 3px;
    margin-right: 3px;
}

#lay_top_menu a:hover {
    color: #3d5c87;
}

#lay_top_menu_logo {
    float: left;
}

#lay_top_menu_links {
    float: right;
    font-family: Lovelo;
}

.dark_stroke {
    height: 10px;
    background-color: #000;
}

/* Todos */
.todoBox {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.todoBox-dialog {
    padding: 10px;
}

.todoBoxSection {
    padding: 5px;
}

.todoItem {
    color: #393939;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.todoItem:hover {
    background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.todoItem:hover a {
    color: #FFF;
}

.todoItem a {
    color: #393939;
}

.selectedItem {
    background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.selectedItem a {
    color: #fff;
}

.todoListItem {
    border-radius: 3px; background-color: #fff; color: #393939; margin-top: 5px; margin-bottom: 5px; padding: 5px; box-shadow: 1px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.todoListItem a {
    cursor: pointer;
}

.todoListItem a:hover {
    text-decoration: underline;
}