/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@font-face {
    font-family: Hyped;
    src: url('../Fonts/hyped.otf');
}

@font-face {
    font-family: LeagueGothic;
    src: url('../Fonts/LeagueGothic-Regular.otf');
}

@font-face {
    font-family: Lovelo;
    src: url('../Fonts/lovelo.otf');
}

@font-face {
    font-family: Yanone;
    src: url('../Fonts/yanone.otf');
}

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: Tahoma, arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: Tahoma, arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: Tahoma, arial, verdana, sans-serif;
}

.menu{
font-family: Tahoma, arial, verdana, sans-serif;
}

blockquote{
font-family: Tahoma, arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#efefef url(css/img/gray_jean.png);
font:normal 0.9em/150% Tahoma, arial, verdana, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#lay_top {
    background-image: url('../Images/background_main.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
}

#lay_top_container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#lay_top_menu {
    position: absolute;
    z-index: 999;
    height: 100px;
    line-height: 100px;
    width: 100%;
    opacity: 0.9;
    background-color: #0c0c0c;
}

#lay_top_menu h1, h2 {
    font-family: Hyped, Impact;
    color: #fff;
}

#lay_top_menu a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    margin-left: 3px;
    margin-right: 3px;
}

#lay_top_menu a:hover {
    color: #3d5c87;
}

#lay_top_menu_logo {
    float: left;
}

#lay_top_menu_links {
    float: right;
    font-family: Lovelo;
}

.dark_stroke {
    height: 10px;
    background-color: #000;
}